Repository mango-gremlin/Teamprojekt-Diagnosis-System, pull requests merged in 2023-08, with the labels that each got.

#114 Diabetes update communicator & check for healthy values & average healthy values & info table
  Project/ML/Diabetes/DiabetesCommunicator.m
  Project/ML/Diabetes/FormatHealthInfoText_diabetes.m
  Project/ML/Diabetes/FormatHealthInfo_diabetes.m
  Project/ML/Diabetes/diabetes_averageHealthyValues.csv
  Project/ML/Diabetes/diabetes_infotext.csv
Labels: health-info

#131 Lumpy Skin added info text and average value tables and updated communicator
  Project/ML/Lumpy Skin/FormatHealthInfoText_lumpyskin.m
  Project/ML/Lumpy Skin/FormatHealthInfo_lumpyskin.m
  Project/ML/Lumpy Skin/LumpySkinCommunicator.m
  Project/ML/Lumpy Skin/lumpyskin_averageHealthyValues.csv
  Project/ML/Lumpy Skin/lumpyskin_infotext.csv
Labels: health-info

#135 Added search bar to general
  Project/GUI/approach2/GeneralApp.mlapp
  Project/ML/General/Symptom-severity.csv
Labels: enhancement, GUI

#136 Heart info output and new PredictionsApp UI
  Project/GUI/approach2/DiabetesApp.mlapp
  Project/GUI/approach2/HeartApp.mlapp
  Project/GUI/approach2/PredictionsApp.mlapp
  Project/GUI/approach2/SkinApp.mlapp
  Project/ML/Diabetes/DiabetesCommunicator.m
Labels: enhancement, GUI

#144 added all purpose returnInfo function to supercommunicator
  Project/GUI/approach2/DiabetesApp.mlapp
  Project/ML/Diabetes/DiabetesCommunicator.asv
  Project/ML/Diabetes/DiabetesCommunicator.m
  Project/ML/Heart Disease/HeartDiseaseCommunicator.m
  Project/ML/Lumpy Skin/FormatHealthInfoText_lumpyskin.m
  Project/ML/Lumpy Skin/LumpySkinCommunicator.m
  Project/ML/Lumpy Skin/lumpyskin_infotext.csv
  Project/ML/SuperCommunicator.m
Labels: wip

#145 added function that displays input as string array for gui
  Project/GUI/approach2/DiabetesApp.mlapp
  Project/GUI/approach2/GeneralApp.mlapp
  Project/GUI/approach2/HeartApp.mlapp
  Project/GUI/approach2/PredictionsApp.mlapp
  Project/GUI/approach2/SkinApp.mlapp
  Project/ML/SuperCommunicator.m
Labels: health-info
